.user__cart {
  position: relative;
  background-color: blue;

  &-popup {
    top: -50%;
    left: -0%;
    width: 38rem;
    height: 26rem;
    background-color: white;
    position: absolute;
    overflow: auto;
    transform: translate(-46%, 30%);
    z-index: 6;
    border-radius: 1rem;
    // background-color: yellow;

    padding: 3rem 2rem;

    h3 {
      font-size: 2rem;
      position: relative;
      //   border-bottom: 1px solid black;
      margin-bottom: 5rem;
    }
    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.322);
      top: 7.5rem;
      left: 0;
    }
    &-details {
      height: 10rem;
      align-items: center;
      gap: 1rem;
      img {
        object-fit: cover;
        width: 9rem;
      }
      display: flex;

      &-product {
        flex-grow: 1;
        font-size: 1.8rem;
      }
      &-delete {
        img {
          height: 2rem;
          width: 2rem;
        }
      }
    }
    &-checkout {
      background-color: $color-primary;
      margin-top: 1.7rem;
      padding: 1.9rem 0rem 1.9rem 0rem;
      width: 100%;
      color: white;
      font-weight: 700;
      border-radius: 1rem;
      cursor: pointer;
      outline: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
    }
  }
}
